@import "tailwindcss";

@theme {
  --color-starlight: #c7dced;
  --color-nebula-light: #9dcddc;
  --color-nebula: #5692a9;
  --color-cosmic: #044568;
  --color-deep-space: #062b43;
}

:root {
  font-family: Inter, system-ui, sans-serif;
  color: var(--color-starlight);
  background-color: var(--color-deep-space);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #062b43;
}

#app {
  min-height: 100%;
}

#app{
  position: relative;
  background: transparent;
}
button,
a {
  font: inherit;
}

button {
  cursor: pointer;
}

::selection {
  color: #062b43;
  background: #c7dced;
}